<header class="header">
  <nav class="navbar">
    <div class="inline-flex-container">
      <div class="inline-flex-item drawer-toggle">
        <a>☰</a>
      </div>
      <div class="inline-flex-item header-title">
        Title
      </div>
      <div class="inline-flex-item">
        <ul class="link-list right-side">
          <li class="link-list-item">Home</li>
          <li class="link-list-item">News</li>
          <li class="link-list-item">Contact</li>
          <li class="link-list-item">About</li>
        </ul>
      </div>
    </div>
  </nav>
</header>
