<header class="navbar">
  <nav>
    <div class="inline-flex-container">
      <div class="inline-flex-item drawer-toggle">
        <a class="toggle">☰</a>
      </div>
      <div class="inline-flex-item header-title">
        <h1 class="title">Title</h1>
      </div>
      <div class="inline-flex-item">
        <ul class="link-list right-side">
          <li class="link-list-item">Home</li>
          <li class="link-list-item">News</li>
          <li class="link-list-item">Contact</li>
          <li class="link-list-item">About</li>
        </ul>
      </div>
    </div>
  </nav>
</header>
