<nav class="navbar util--background__red">
  <div class="util--fixed util--flexContainer util--flex__spaceBetween util--background__red util--zindex__3">
    <div class="util--flexItem util--zindex__3">
      <button id="toggle" class="navbar--drawerToggle">
        <svg class="navbar--drawerToggleIcon" fill="#000000" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 0h24v24H0z" fill="none"/>
            <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"/>
        </svg>
      </button>
    </div>
    <div class="util--flexItem util--zindex__3">
      <h1 class="navbar--title">Title</h1>
    </div>
    <div class="util--flexItem util--zindex__3">
      <ul class="navbar--linkList">
        <li class="navbar--linkListItem">Home</li>
        <li class="navbar--linkListItem">News</li>
        <li class="navbar--linkListItem">Contact</li>
        <li class="navbar--linkListItem">About</li>
      </ul>
    </div>
  </div>
</nav>
