<div class="sidenav util--flexItem util--background__color">
  <ul class="sidenav--list  util--card__color util--shadow">
    <a href={{ '/' | prepend: site.baseurl }}><li class="sidenav--item">Home</li></a>
    <a href={{ '/news' | prepend: site.baseurl }}><li class="sidenav--item">News</li></a>
    <a href={{ '/contact' | prepend: site.baseurl }}><li class="sidenav--item">Contact</li></a>
    <a href={{ '/about' | prepend: site.baseurl }}><li class="sidenav--item">About</li></a>
  </ul>
</div>
