<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <div class="util--flexContainer util--flex__row util--background__color">
      {% include header.html %}
      {% include lead.html %}
      {% include sidenav.html %}
      <main class="content util--flexItem util--zindex__0">
        {% include content.html %}
      </main>
      {% include aside.html %}
      {% include footer.html %}
    </div>
    <script src={{ "/assets/js/a.js" | prepend: site.baseurl }}></script>
  </body>
</html>
