/** @define content */
.content {
  background: #eee;
  margin: 0 auto;
  min-height: calc(100vh - 6.2rem);
  padding: 1em;
  width: 60%;

  @media ( width <= 27em ) {
    margin: 0.5em;
    width: calc(100% - 1em);
  }
}
