/** @define drawer */
.drawer {
  background: yellow;
  display: none;

  /* Change display height hiding URL bar */
  height: 120vh;
  position: fixed;
  width: 50%;

  &--linkList {
    &Item {
      border-bottom: 0.1rem solid red;
      font-size: 1.5rem;
      padding: 1rem;
      text-align: center;
    }
  }

  &__visible {
    display: block;
  }
}

/** @define obfucator */
.obfucator {
  background: rgba(0, 0, 0, 0.4);

  /* Change display height hiding URL bar */
  display: none;
  height: 120vh;
  position: fixed;
  width: 100vw;

  &__visible {
    display: block;
  }
}
