:root {
  --header-color: red;
  --header-font-size: 1.5em;
}

.navbar {
  & .inline-flex-container {
    background: var(--header-color);
    justify-content: space-between;
    padding: 0.8em;
    width: 100%;

    & .inline-flex-item {
      height: var(--header-font-size);
    }

    & .link-list .link-list-item {
      width: 8em;
    }

    & .drawer-toggle .toggle,
    & .header-title .title,
    & .link-list .link-list-item {
      display: inline-block;
      font-size: var(--header-font-size);
      font-weight: 900;
      text-align: center;
    }
  }
}
