:root {
  --header-color: red;
  --header-font-size: 1.5em;
}

.navbar {
  & .inline-flex-container {
    background: var(--header-color);
    justify-content: space-between;
    padding: 0.8em;
    width: 100%;

    & .inline-flex-item {
      height: var(--header-font-size);
    }

    & .link-list .link-list-item {
      width: 8em;
    }

    & .drawer-toggle .toggle,
    & .header-title .title,
    & .link-list .link-list-item {
      display: inline-block;
      font-size: var(--header-font-size);
      font-weight: 900;
      text-align: center;
    }
  }

  & .drawer {
    display: none;
  }

  @media screen and ( width <= 27em ) {
    & .link-list {
      display: none;
    }

    & .drawer {
      background: yellow;
      display: none;
      height: 100%;
      position: fixed;
      width: 50%;
      z-index: 2;
    }

    & .obfucator {
      background: rgba(0, 0, 0, 0.4);
      display: none;
      height: 100vh;
      position: fixed;
      width: 100vw;
      z-index: 1;
    }

    & .visible {
      display: block;
    }
  }
}
