/* stylelint-disable selector-no-universal */
/* Reset CSS */
* {
  border: initial;
  font: initial;
  margin: initial;
  padding: initial;
}
/* stylelint-enable selector-no-universal */

/* stylelint-disable selector-no-universal */
/* Easy to use flexbox */
*,
*::after,
*::before {
  box-sizing: border-box;
}
/* stylelint-enable selector-no-universal */

/** @define utilities */

.util {
  &--flexContainer {
    display: flex;
  }

  &--flexItem {
    display: block;
  }

  &--inlineFlexContainer {
    display: inline-flex;
    width: 100%;
  }

  &--inlineFlexItem {
    display: inline-block;
  }

  &--flex__spaceBetween {
    justify-content: space-between;
  }

  &--flex__direction {
    flex-direction: column;
  }

  &--fixed {
    position: fixed;
    width: 100%;
  }

  &--zindex__0 {
    z-index: 0;
  }

  &--zindex__1 {
    z-index: 1;
  }

  &--zindex__2 {
    z-index: 2;
  }

  &--zindex__3 {
    z-index: 3;
  }

  &--zindex__4 {
    z-index: 4;
  }

  &--zindex__5 {
    z-index: 5;
  }
}
