/* stylelint-disable selector-no-universal */
/* Reset CSS */
* {
  font: initial;
  margin: initial;
  padding: initial;
}
/* stylelint-enable selector-no-universal */

/* stylelint-disable selector-no-universal */
/* Easy to use flexbox */
*,
*::after,
*::before {
  box-sizing: border-box;
}
/* stylelint-enable selector-no-universal */

html,
body {
  height: 100%;
  width: 100%;
}

.flex-container {
  display: flex;

  & .flex-item {
    display: block;
  }
}

.inline-flex-container {
  display: inline-flex;
  width: 100%;

  & > .inline-flex-item {
    display: inline-block;
  }
}
