/** @define navbar */
:root {
  --navbar-font-size: 1.5rem;
  --navbar-height: 3.1rem;
  --navbar-padding: 0.8rem;
}

.navbar {
  height: var(--navbar-height);
  width: 100%;

  &--linkListItem {
    width: 8rem;
  }

  &--drawerToggle,
  &--title,
  &--linkListItem {
    display: inline-block;
    font-size: var(--navbar-font-size);
    font-weight: 900;
    max-height: var(--navbar-height);
    padding: var(--navbar-padding);
    text-align: center;
  }

  &--drawerToggleIcon {
    height: 1.5rem;
    width: 1.5rem;
  }

  @media screen and ( width <= 27em ) {
    &--linkList {
      display: none;
    }
  }
}
