/** @define postlist */
.postlist {
  background: lime;
  border: 0.1rem solid blue;
  width: 100%;

  &--item {
    background: pink;
    border-top: 0.1rem solid red;
    list-style-type: none;

    &Title {
      background: aqua;
      border-bottom: 0.1rem solid orange;
      font-size: 1.5rem;
      padding: 1rem;
    }

    &Excerpt {
      padding: 1rem;
    }
  }
}
