/** @define sidenav */
.sidenav {
  flex: 1 0 0%;
  order: 3;
  padding: 1rem;

  &--item {
    border-top: 1px solid rgba(0, 0, 0, 0.12);
    font-size: 1.5rem;
    padding: 1rem 0 1rem 1rem;
    text-align: center;
  }

  @media ( --tablet ) {
    display: none;
  }
}
